<div class="modal fade" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content p-2">
      <div class="modal-header border-0 d-flex justify-content-center">
        <div>
          <img class="contact-us-bubble pb-5 pr-1 pr-md-0" src={{ "hydra-droplet.png" | asset_img_url }} />
        </div>
        <h5 class="modal-title contact-us-modal-title align-self-end pb-2" id="exampleModalLabel">
          Get in Touch with Us
        </h5>
        <div class="contact-us-bubble-spacer"></div>
      </div>
      <div class="modal-body pt-0">
        <div class="klaviyo-form-UdMnvP"></div>

        <div class='text-center'>
          <p class="contact-us-fine-print">
            by signing, you agree to Hydra's
            <a href="/pages/privacy-policy" target="_blank">Privacy Policy</a> and
            <a href="/pages/terms-and-conditions" target="_blank">Terms of Use</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>