<div class="modal fade" id="newsletterThankYouModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content p-2">
      <div class="modal-header border-0 d-flex justify-content-center">
        <div>
          <img class="contact-us-bubble pb-5 pr-1 pr-md-0" src={{ "hydra-droplet.png" | asset_img_url }} />
        </div>
        <h5 class="modal-title thank-you-modal-title text-center mt-5 align-self-end pb-3">
          You're in.  Stay tuned for updates and member specials.
        </h5>
        <div class="contact-us-bubble-spacer"></div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    if (window.location.href.includes('newsletter-submit')) {
      $('#newsletterThankYouModal').modal('show')
    }
  })
</script>