<div class="modal fade" id="thankYouModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content p-2">
      <div class="modal-header border-0 d-flex justify-content-center">
        <div>
          <img class="contact-us-bubble pb-5" src={{ "hydra-droplet.png" | asset_img_url }} />
        </div>
        <h5 class="modal-title contact-us-modal-title align-self-end pb-2" id="exampleModalLabel">
          Thank you!  Here goes more text
        </h5>
        <div class="contact-us-bubble-spacer"></div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(() => {
    if (window.location.href.includes('?')) {
      $('#thankYouModal').modal('show')
    }
  })
</script>