<div>
  Hello
</div>

{% schema %}
{
  "name": "pricing",
  "class": "pricing-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}
