<div class="non-homepage-container promolink-container">
  <div class="page-width">
    <div class="tenant-invitation text-center">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>