<div class="non-homepage-container">
  <div class="page-width appointment-page">
    <div class="mx-auto appointment-widget-container mt-5">
      <h1 class="text-center mt-4 appointment-header">
        Reserve Online
      </h1>
      <p class="text-center appointment-subheader mb-4">
        FIND AN APPOINTMENT
      </p>
      <p class="text-center appointment-subsubheader mb-2">
        Select the activity type you'd like to book (ex. Peloton) and all available rooms with that activity will appear.
        Select
        a time and you're good to go.
      </p>

        <healcode-widget data-type="appointments" data-widget-partner="object" data-widget-id="2081107f107"
          data-widget-version="0"></healcode-widget>
      </div>
    </div>
  </div>
</div>


