<!-- <img src="{{ 'standard-background-image.jpg' | asset_url }}" alt="" class="appointment-bg-image"> -->
<div class="appointment-bg-image">
  <div class="page-width appointment-page">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="rte">
          <healcode-widget data-type="registrations" data-widget-partner="object" data-widget-id="20110866f107"
            data-widget-version="0"></healcode-widget>
        </div>
      </div>
    </div>
  </div>
</div>


